In [ ]:
import pandas as pd
import json

In [64]:
df_vendas = pd.read_csv('data/vendas.csv')
df_vendas['preco_unitario'] = df_vendas['preco_unitario'].astype(float)
df_vendas['valor_total'] = df_vendas['valor_total'].astype(float)
df_vendas["data_venda"] = pd.to_datetime(df_vendas["data_venda"])
df_vendas["ano_mes"] = df_vendas["data_venda"].dt.to_period("M").astype(str)

In [65]:
display(df_vendas.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_venda        1500 non-null   int64
 1   id_cliente      1500 non-null   int64
 2   id_produto      1500 non-null   int64
 3   quantidade      1500 non-null   int64
 4   data_venda      1500 non-null   datetime64[ns]
 5   preco_unitario  1500 non-null   float64
 6   valor_total     1500 non-null   float64
 7   ano_mes         1500 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 93.9+ KB

None

In [61]:
kpis = {
    'faturamento': round(float(df_vendas['valor_total'].sum()), 2),
    'vendas_qtd': int(df_vendas['id_venda'].count()),
    'tkt_med': round(float(df_vendas['valor_total'].sum()), 2) / int(df_vendas['id_venda'].count()),
    'qtd_produtos': int(df_vendas['quantidade'].sum()),
    'cli_unique': int(df_vendas['id_cliente'].nunique())
}

In [66]:
fat_mes = df_vendas.groupby('ano_mes')['valor_total'].sum().to_dict()